<!DOCTYPE html>
<html lang="en">
<html>
<head>
    <meta charset="UTF-8">
    <title>Administrator Login</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css"
          integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi" crossorigin="anonymous">
</head>
<body>
    <div style="max-width: 600px; margin: 100px auto; 0 auto; padding: 0 50px;">
        <h3 style="margin-bottom: 30px;">
            Administrator Login
        </h3>

        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-danger">{{ message }}</div>
            {% endfor %}
        {% endif %}

        <form method="post" action="#">
            {% csrf_token %}
            <div class="form-group">
                <label for="username">Username:</label>
                <input type="text" required="required" class="form-control" name="username" id="username"
                       placeholder="Username"/>
                <label for="password">Password:</label>
                <input type="password" required="required" class="form-control" name="password" id="password"
                       placeholder="Passowrd"/>
                <br>
                <div>
                    <button class="btn btn-success form-control">Login</button>
                </div>
            </div>
        </form>
    </div>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/js/bootstrap.min.js"
            integrity="sha384-BLiI7JTZm+JWlgKa0M0kGRpJbF2J8q+qreVrKBC47e3K6BW78kGLrCkeRX6I9RoK"
            crossorigin="anonymous"></script>
</body>
</html>
